#navbar {
    background-color: #D8F2EF;
}

/*      TITLE BANNER      */

#contact-title {
    position: relative;
    width:100%;
    aspect-ratio: 3/1;
    background-image: url("../images/contact-banner.jpg");
    background-size: 100%;
}

#contact-title-overlay {
    width:100%;
    height:100%;
    background: rgba(0, 0, 0, 0.3)
}

#contact-title-box {
    position: relative;
    top:40%;
    left:25%;
    width:50%;
    height:30%;
    background-color: rgba(255, 255, 255, 0.4);
}

#contact-title-box h1 {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    font-family: 'Open Sans';
    font-weight: 800;
    font-size: 7vw;
    text-align: center;
}

.container {
    height: 50px;
    position: relative;
    width:100%;
}

.tabs {
    position: relative;
    display: flex;
    background-color: #d8f2ef;
    flex-direction: row;
    height: 50px;
    align-items: center stretch;
    justify-content: center;
    margin-left: 65px;
    margin-right: 65px;
  }
  
.tab {
    cursor: pointer;
    padding: 5px 1vw;
    font-size: calc(1vw + 8px);
    font-family: 'Open Sans';
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainbox-wrapper {
    margin-left: 7vw;
    margin-right: 7vw;
    background-color: #EEFEFC;
}

.border {
    padding-top: 30px;
    background-color: #EEFEFC;
    align-content: center;
    padding-bottom: 15px;
}

iframe {
    margin: 50px;
    display: block;
    border-style: none;    
}

#student {
    background-color: #A7D6D0;
}

.container {
    margin-top: 40px;
}
