body {
    margin: 0px;
}

/* Style the navbar */
.navbar {
    background-color: #D8F2EF;
    display: flex;
    z-index: 1;
  }

.footer-custom {
    background-color: #D8F2EF;
  }

  
  /* Navbar links */
  #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    align-self: center;
    margin: 27px;

    text-decoration: none;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 18px;
  }

  .navbar_logo {
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;

    max-width: 300px;
    height: auto;
    margin-right: 26%;
  }

  .navbar_apply_btn {
    background: linear-gradient(90deg, #10887B -26.14%, #22F3F1 151.89%);

    padding: 10px 20px;

    border: 3px solid #FFFFFF;
    border-radius: 24px;
    transition: 0.3s;
  }
  
  /* Page content */
  .content {
    padding: 16px;
  }
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  }

  /* .footer-distributed{
	background:  #000;
  opacity: 1;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 40px 50px;
} */

/* Apply Now */

#apply-now {
  background-color: #EEFEFC;
  text-align: center;
  padding: 80px 0px;
  padding-left: 40px;
}

.apply-now-btn {
  background-image: -moz-linear-gradient(0deg, #21AE9F 0%, #21AE9F 100%);
  background-image: -webkit-linear-gradient(0deg, #21AE9F 0%, #21AE9F 100%);
  background-image: -ms-linear-gradient(0deg, #21AE9F 0%, #21AE9F 100%);  
  font-size: 18px;
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
  color: #fff;
  border-radius: 50px;
  padding: 5px 30px 6px;
  display: inline-block;
  text-transform: uppercase;
  padding-right: 5px;
  text-decoration: none !important;
  transition: 0.3s;
  margin-top: 48px;
}
.apply-now-btn .fa {
  background: #fff;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  color: #21AE9F;
  font-size: 22px;
  text-align: center;
  padding-top: 5px;
  margin-left: 15px;
  transition: 0.3s;
}

.apply-now-btn:hover{
  color: #000;
  border-color: #000;
}

.apply-now-btn:hover .fa{
  color: #000;
}

.apply-now-p {
  max-width: 500px;
}

.apply-now-textbox {
  padding-top: 40px;
  padding-bottom: 40px;
}


.teamage {
  width: 450px;
  height: 90%;
  border-radius: 42px;
}

/* Description */

#description{
  background: #fff;
  margin-bottom: 20px;
  margin-top: 20px;
  justify-content: center;
}

.desc-textbox {
  margin-top: 40px;
  min-height: 300px;
  margin-bottom: 130px
}

.desc-title-textbox {
  margin-bottom: 30px;
}

.desc-p-textbox {
  max-width: 500px;
  margin-bottom: 50px;
}

.back-bg {
  margin-left: -30px !important;
  margin-top: -20px;
}
svg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
svg.defs {
  position: absolute;
  width: 0;
  height: 0;
}
.squircle {
  width: 100%;
  height: 450px;
  background: url(../images/learn-img.jpg) center/cover, #aaa;
  clip-path: url(#clip-path);
  background-position-x: 0px;
}

/* Projects */

#projects {
  background-color: #EEFEFC;
  padding-top: 40px;
  padding-bottom: 40px;
}

.proj-textbox{
  margin-top: 40px;
  padding-left: 70px;
  margin-bottom: 20px;
}

.proj-h2{
  margin-bottom: 30px;
}

.proj-p-textbox{
  max-width: 480px;
}

.proj-image {
  width: 500px;
}



/* .footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
    font-family: "Open Sans";
} */

/* Footer left */

/* .footer-distributed .footer-left{
	width: 40%;
} */

/* The company logo */

/* .footer-distributed .footer-left img{
  width:300px;
} */

/* .footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  lightseagreen;
} */

/* Footer links */

/* .footer-distributed .footer-links{
	color:  #ffffff;
	margin: 35px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  rgb(255, 255, 255);
	font-size: 14px;
	font-weight: normal;
	margin: 0;
} */

/* Footer Center */

/* .footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 24px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 40px;
	margin: 10px 10px 8px 0px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
} */

/* .fa-envelope:hover + a {
  text-decoration: underline;
} */

/* .footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  
  font-weight: 400;
	vertical-align: middle;
	margin:0;
} */

/* .footer-distributed .footer-center .contact{
  margin: -0px 0px 0px 0px;
}

.footer-contact-title {
  font-size: 20px;
} */

/* .footer-distributed .footer-center p a{
  color: #ffffff;
	text-decoration: none;;
} */

/* .footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #ffffff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
} */

/* Footer Right */

/* .footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 16px;
	/*font-weight: bold;*/



.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 30px;
	margin-bottom: 5px;
} */

.underline {
  position: relative;
  display: inline-block;
}

.underline::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -3px;
    left: 50%;
    background-color: rgb(255, 255, 255);
    transition: 0.3s;
  }
  
  .underline:hover::before {
    width: 80%;
    left: 10%;
  }

  html {
    height: 100%;
    width: 100%;
    color: white;
    font-family: "Source Sans Pro";
  }
  
  /* .container {
    width: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  } */
  
  .web_page {
    position: absolute;
    top: 2%;
    left:14%;
    z-index: -1;
  }
  
  .first-banner {
    position: relative;
  }
  
  .line__1,
  .line__3 {
    white-space: nowrap; /* keep text in one line */
    overflow: hidden; /* hide text behind the cursor */
    margin: 0.5rem auto;
    font-size: 1.5rem;
    font-weight: lighter;
  }
  
  .line__2,
  .line__4 {
    white-space: nowrap; /* keep text in one line */
    overflow: hidden; /* hide text behind the cursor */
    margin: 0.5rem auto;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 1rem;
  }
  
  .line__1 {
    border-right: 2px solid rgba(17, 17, 17, 0.9);
  
    /* define animation types for text + cursor */
    animation: animated-text__1 500ms steps(30, end) 1s 1 normal both,
      animated-cursor__1 1000ms steps(30, end) 2;
  }
  
  .line__2 {
    border-right: 2px solid rgba(17, 17, 17, 0.9);
  
    /* define animation types for text + cursor */
    animation: animated-text__2 2s steps(30, end) 1s 1 normal both,
      animated-cursor__2 2500ms steps(30, end) normal;
    /* -webkit-animation-delay: 7s; */
    animation-delay: 2s;
  }
  
  .line__3 {
    border-right: 2px solid rgba(17, 17, 17, 0.9);
  
    /* define animation types for text + cursor */
    animation: animated-text__1 500ms steps(30, end) 1s 1 normal both,
      animated-cursor__1 750ms steps(30, end) 2;
      animation-delay: 5s;
  }
  
  .line__4 {
    border-right: 2px solid rgba(17, 17, 17, 0.9);
  
    /* define animation types for text + cursor */
    animation: animated-text__4 2s steps(30, end) 1s 1 normal both,
      animated-cursor__2 1000ms steps(30, end) infinite;
    animation-delay: 6.5s;
  }
  
  @keyframes animated-cursor__1 {
    from {
      border-right-color: rgba(0, 0, 0, 0.9);
    }
    to {
      border-right-color: rgba(255, 255, 255, 0.8);
    }
  }
  
  @keyframes animated-text__1 {
    from {
      width: 0;
    }
    to {
      width: 4rem;
    }
  }
  
  @keyframes animated-cursor__2 {
    from {
      border-right-color: rgba(17, 17, 17, 0.9);
    }
    to {
      border-right-color: rgba(255, 255, 255, 0.8);
    }
  }
  
  @keyframes animated-text__2 {
    from {
      width: 0;
    }
    to {
      width: 41rem;
    }
  }
  
  @keyframes animated-text__4 {
    from {
      width: 0;
    }
    to {
      width: 27.5rem;
    }
  }
