#navbar {
    background-color: #D8F2EF;
}



/*      TITLE BANNER      */

#proj-title {
    position: relative;
    width:100%;
    aspect-ratio: 3/1;
    background-image: url("../images/title-banner.jpg");
    background-size: 100%;
}

#proj-title-overlay {
    width:100%;
    height:100%;
    background: rgba(0, 0, 0, 0.3)
}

#proj-title-box {
    position: relative;
    top:20%;
    left:25%;
    width:50%;
    height:60%;
    background-color: rgba(255, 255, 255, 0.9);
}

#proj-title-box h1 {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    font-family: 'Open Sans';
    font-weight: 800;
    font-size: 7vw;
    text-align: center;
}

#proj-title-blurb, #proj-timeline-blurb {
    padding: 2vw 20% 1vw;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: calc(1vh + 1vw);
    line-height: 170%;
    text-align: center;
}



/*   SUBHEADINGS   */

.proj-subheading {
    padding: 2% calc(50% - 21vh);
}

.proj-subheading h2{
    padding: 2% 0;
    /*background-color: #D8F2EF;*/
    background-image: url("../images/subtitle-bubble.png");
    background-size: 100% 100%;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 3.8vh;
    text-align: center;
}



/*   TIMELINE   */

#proj-timeline-section {
    margin-top: 5%;
}

#proj-timeline {
    position: relative;
    width: 100%;
    aspect-ratio: 7/2;
    margin: 0% 0% 5%;
}

#proj-timeline .tl-section {
    position: absolute;
    width: 20%;
    height: 100%;
    left: calc((var(--tl-pos) - 1) * 20%);
}

#proj-timeline .tl-content {
    position: relative;
    width: 100%;
    height: 100%;
    left: 0%;
    transition: left 0.5s ease;
}

#tl-stage-1 .tl-pin { background-image: url("../images/projects/pin-1.png"); }
#tl-stage-1 .tl-pin-line { border-color: #53b5b1; }

#tl-stage-2 .tl-pin { background-image: url("../images/projects/pin-2.png"); }
#tl-stage-2 .tl-pin-line { border-color: #87be4a; }

#tl-stage-3 .tl-pin { background-image: url("../images/projects/pin-3.png"); }
#tl-stage-3 .tl-pin-line { border-color: #d76931; }

#tl-stage-4 .tl-pin { background-image: url("../images/projects/pin-4.png"); }
#tl-stage-4 .tl-pin-line { border-color: #ae5979; }

#tl-stage-5 .tl-pin { background-image: url("../images/projects/pin-5.png"); }
#tl-stage-5 .tl-pin-line { border-color: #a563a4; }

.tl-section .tl-pin {
    position: absolute;
    height: 25%;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
    aspect-ratio: 3/4;
    background-repeat: no-repeat;
    background-size: contain;
    transition: top 0.5s ease;
}

.tl-section:hover .tl-pin {
    top: 5%;
}

.tl-section .tl-pin-line {
    position: absolute;
    width: 0px;
    left: calc(50% - 0.2vw);
    height: 45%;
    bottom: 25%;
    border-style: none dashed none none;
    border-width: 0.4vw;
}

.tl-section .tl-pin-line-cover {
    position: absolute;
    width: 4%;
    left: 48%;  
    height: 50%;
    top: 25%;
    background-color: white;
    transition: height 0.5s ease;
}

.tl-section:hover .tl-pin-line-cover {
    height: 0%;
}

.tl-section .tl-dot {
    position: absolute;
    bottom: 20%;
    left: 47.5%;
    width: 5%;
    aspect-ratio: 1/1;
    background-color: #0c9d8e;
    border-radius: 50%;
}

#tl-bottom-line {
    position: absolute;
    width: 80%;
    aspect-ratio: 250/1;
    bottom: 21.5%;
    left: 10%;
    border-radius: 100px;
    background-color: black;
}

.tl-section-title {
    position: absolute;
    left: 50%;
    bottom: 0%;
    transform: translateX(-50%);
    font-family: "Source Sans Pro";
    font-weight: 700;
    font-size: 2vw;
    opacity: 1;
    transition: opacity 0.5s ease;
    transition-delay: 0.4s;
}

.tl-section:hover .tl-section-title {
    opacity: 0;
    transition-delay: 0.1s;
}

.tl-section-text {
    position: relative;
    left: 65%;
    top: 15%;
    opacity: 0;
    transition: opacity 0.5s ease;
    transition-delay: 0;
    font-family: "Source Sans Pro";
}

#tl-stage-5 .tl-section-text {
    left: -55%;
}

.tl-section-text p {
    font-weight: 400;
    font-size: 2vw;
}

.tl-section-text h1 {
    font-weight: 700;
    font-size: 3vw;
}

.tl-section:hover .tl-section-text {
    opacity: 1;
    transition-delay: 0.4s;
}



/*     Carousels     */

#proj-sp23-carousel {
    margin: 4% 10% 5%;
}

.carousel-item {
    background-color: #EEFEFC;
    border-radius: 8vw;
    aspect-ratio: 2/1;
    overflow-x: visible;
    overflow-y: visible;
    padding: 2%;
    background-clip: content-box;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    width: min(4vw, 2rem);
    height: min(4vw, 2rem);
}

#proj-carousels-section .carousel .carousel-indicators button {
    width: min(1.5vw, 12px);
    height: min(1.5vw, 12px);
    border-radius: 50%;
    background-color: #797979;
}

#proj-carousels-section .carousel .carousel-indicators {
    margin-bottom: 1.5%;
    bottom: 3%;
}

#proj-carousels-section .carousel button {
    filter: invert(0.7) grayscale(100)
}

.proj-item-left, .proj-item-right {
    width: 50%;
    height: 100%;
    top: 0;
    position: absolute;
    margin: 0;
}

.proj-item-left {
    left: 0;
    padding: 5% 2% 5% 12%;
}

.proj-item-right {
    left: 50%;
}

.proj-item-left h1 {
    position: absolute;
    font-family: 'Source Sans Pro';
    font-weight: 700;
    font-size: 3vw;
    top: 20%;
    transform: translate(0%, -50%)
}

.proj-item-left p {
    position: absolute;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 1.5vw;
    top: 55%;
    transform: translate(0%, -50%)
}

.proj-item-bkg-blob {
    position: absolute;
    background-image: url("../images/projects/outer-blob.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 60%;
    top: 25%;
    left: 10%;
    aspect-ratio: 23/20;
    background-size: cover;
    background-repeat: no-repeat;
}

.proj-item-img1, .proj-item-img2, .proj-item-img3 {
    position: absolute;
    background-color: white;
    mask-size: contain;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    width: 33%;
}

.proj-item-img1 {
    mask-image: url("../images/projects/blob1.svg");
    -webkit-mask-image: url("../images/projects/blob1.svg");
    transform: rotate(10deg);
    width: 33%;
    top: 20%;
    left: 12%;
    aspect-ratio: 10/8.1;
    background-size: contain;
}

.proj-item-img2 {
    mask-image: url("../images/projects/blob2.svg");
    -webkit-mask-image: url("../images/projects/blob2.svg");
    transform: rotate(10deg);
    width: 33%;
    top: 50%;
    left: 10%;
    aspect-ratio: 4/3;
}

.proj-item-img3 {
    mask-image: url("../images/projects/blob3.svg");
    -webkit-mask-image: url("../images/projects/blob3.svg");
    transform: rotate(-10deg);
    top: 35%;
    left: 45%;
    aspect-ratio: 5/4;
}

#mesa .proj-item-img1 {
    background-image: url("../images/projects/mesa1alt.png");
}
#mesa .proj-item-img2 {
    background-image: url("../images/projects/mesa2.png");
}
#mesa .proj-item-img3 {
    background-image: url("../images/projects/mesa3.png");
}

#onesky .proj-item-img1 {
    background-image: url("../images/projects/onesky1.jpg");
}
#onesky .proj-item-img2 {
    background-image: url("../images/projects/onesky2.jpg");
}
#onesky .proj-item-img3 {
    background-image: url("../images/projects/onesky3.jpg");
}

#sfsyo .proj-item-img1 {
    background-image: url("../images/projects/sfsyo1.png");
    background-color: white;
}
#sfsyo .proj-item-img2 {
    background-image: url("../images/projects/sfsyo2.png");
}
#sfsyo .proj-item-img3 {
    background-image: url("../images/projects/sfsyo3.png");
}